    	.navbar { background:#EEF3F1; /*couleur légèrement grise*/
		}

		.nav-link{
  			background-color: #7EC6A3;
			padding: 5px; 
			font-size: 15px;	
			cursor: pointer;
			margin-right: 5em !important; 
			margin-left: 5em ;
			color: white;
			transition: all 0.5s ease;
			border: 1px solid #7EC6A3;
			padding:7px;
			transition: all 0.5s ease;
		}

		.nav-link:hover {
    		background-color: white;
			color: #7EC6A3;
			transition: all 0.5s ease;
        }

        .nav-link-compte{
        	margin-left: 150px;
        	color: #7EC6A3;
			font-size: 15px;	
			cursor: pointer;
			transition: all 0.5s ease;
			transition: all 0.5s ease;
		}
		.nav-link-compte:hover {
			color: #7EC6A3;
			
			transition: all 0.5s ease;
        }

        .col-lg-2{

            margin-left: 1300px;
        }

		/*Messages d'accueil*/
		.bienvenue h5{
			margin-top: 25px;

		}

		header{
			/*background-image: url('fond.png');*/
			background-size: cover;
          	background-position: center;
          	position: relative;
		}

		.bouton{ 

			border-radius: 5px;
			background-color: #7EC6A3;
			padding: 5px; 
			color: white;
			transition: all 0.5s ease;

		}

		.bouton:hover{ 

			background-color: white;
			color: #7EC6A3;
			transition: all 0.5s ease;
		}

		.col-lg-6{
			border-left: 2px solid #1F7955;
		}


		.imagefile{
    		cursor: pointer;
   		 	color: #1F7955;
    		font-weight: bold;
    		border-radius: 5px;
			background-color: #7EC6A3;
			padding: 5px; 
			color: white;
			transition: all 0.5s ease;
		
		}


		.imagefile:hover {
    		background-color: white;
			color: #7EC6A3;
			transition: all 0.5s ease;
		}



        .link{
    color: #7EC6A3;
}

.link:hover{
    color: black;
}
.info{
    color: black;
}
.info:hover{
    color: #7EC6A3;
}

/*body, html{height:100%;}*/

footer{
    background: #E8EEEC;
    padding: 20px 0 20px; 

}