/*--- navigation bar ---*/
.navbar { 
	background:#EEF3F1; /*couleur légèrement grise*/
}
.nav-link{
	font-size: 15px;
	color: #7EC6A3; 
	cursor: pointer;
	text-decoration: underline;
	margin-right: 5em !important; 
	margin-left: 10em ;
}
.nav-link:hover {
	color: black;
}
/*milieu de page login*/
h3{
	text-align: center;
	margin: 2.5em auto;
}

.login-admin{
	border: 1px solid grey;
	padding:7px;
	transition: all 0.5s ease;
}
.admin input{
	display: block;
	margin-bottom: 6px;
	border-radius: 5px;
}

.login-admin:hover{
	background-color: #7EC6A3;
	color:white;
}
.admin input[type=submit]{
	background-color: #7EC6A3;
	padding: 5px; 
	color: white;
	transition: all 0.5s ease;
}
.admin input[type=submit]:hover{
	background-color: white;
	color: #7EC6A3;
	transition: all 0.5s ease;
}

/*bas de la page*/
.link{
	color: #7EC6A3;
}
.link:hover{
	color: black;
}
.info{
	color: black;
}
.info:hover{
	color: #7EC6A3;
}

/*footer*/
.baspage{
	position:absolute;
	bottom:0;
	width:100%;
}
html, body{height: 100%}

footer{
	background: #E8EEEC;
	padding: 20px 0 20px;
}
#footer{
	background: #E8EEEC;
	/*padding: 20px 0 20px;*/
	clear: both;
	text-align: center;
}
#nav{
	text-align: center;
}
/*page accueil admin*/
.accueiladmin{
	margin: 0.5em auto;	
}
.action{
	color: black;
}
.action:hover{
	color: #7EC6A3;
}

/*gerer les vendeurs*/
.gerer{
	padding-top: 40px;
}

/*gerer les items*/
#cadre {
	background-color:#EEF3F1;
	height: 500px;
	width: 160px;
	float: left;
}
.gereritem input[type=submit]{
	background-color: #7EC6A3;
	padding: 5px; 
	color: white;
	transition: all 0.5s ease;
}
.gereritem input[type=submit]:hover{
	background-color: white;
	color: #7EC6A3;
	transition: all 0.5s ease;
}
.ajout-item{
	border: 1px solid grey;
	padding:7px;
	transition: all 0.5s ease;
}
.item input{
	display: block;
	margin-bottom: 6px;
	border-radius: 5px;
}
.ajout-item:hover{
	background-color: #7EC6A3;
	color:white;
}
.item input[type=submit]{
	background-color: #7EC6A3;
	padding: 5px; 
	color: white;
	transition: all 0.5s ease;
}
.item input[type=submit]:hover{
	background-color: white;
	color: #7EC6A3;
	transition: all 0.5s ease;
}
.categorie select {
	background-color: white;
	transition: all 0.5s ease;
	border: 1px solid #ccc;
	font-size: 16px;
	height: 34px;
	width: 200px;
}
.categorie select:hover{
	background-color: #7EC6A3;
	padding: 5px; 
	color: white;
	transition: all 0.5s ease;
}
.typeachat select {
	background-color: white;
	transition: all 0.5s ease;
	border: 1px solid #ccc;
	font-size: 16px;
	height: 34px;
	width: 200px;
}
.typeachat select:hover{
	background-color: #7EC6A3;
	padding: 5px; 
	color: white;
	transition: all 0.5s ease;
}
/*Bordure pour ajouter une photo*/
.encadre{
	border : 1px solid grey;
	height : 200px;
}
.imageItem{
	cursor: pointer;
	 color: #1F7955;
	font-weight: bold;
	border-radius: 5px;
	background-color: #7EC6A3;
	padding: 5px; 
	color: white;
	transition: all 0.5s ease;
}
.imageItem:hover {
	background-color: white;
	color: #7EC6A3;
	transition: all 0.5s ease;
}
#photoitem{
	display : none;
}
.choixmultiple{
	width : 830px;
}
#typeachat{
	padding-right: 100px;
	text-align: center;
}
#prix{
	text-align: center;
}
/*.typeachat input[type=radio]{
	position: absolute;
	text-align: center;
	display: none;
}*/
label{
	display: block;
	width : 200px;
	padding: 5px 0 10px 10px;
	border: 1px solid #ccc;
	border-radius: 6px;
	color: black;
	background-color: white;
	cursor: pointer;
	transition: all 0.5s ease,
}
input:checked + label {
	background-color: #7EC6A3;
	color: white;
}
label:hover{
	background-color: #7EC6A3;
	color: white;
	transition: all 0.5s ease;
}
.nav-link2{
	font-size: 15px;
	color: #7EC6A3; /*couleur bleu canard*/
	cursor: pointer;
	text-decoration: underline;
	margin-right: 3em !important; 
	margin-left: 5em;
}
.nav-link2:hover {
	color: black;
}
.nav-link3{
	font-size: 15px;
	color: #7EC6A3; /*couleur bleu canard*/
	cursor: pointer;
	text-decoration: underline;
	
}
.nav-link3:hover {
	color: black;
}

